[package]
name = "umbral-cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
umbral-interpreter = { path = "../umbral-interpreter" }